<%- model_class = Job -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<ul class="nav nav-tabs">
  <li class="active"><a href="<%=jobs_path(:status=>0)%>">ToDo</a></li>
  <li><a href="<%=jobs_path(:status=>1)%>">Done</a></li>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:estimated_date) %></th>
      <th><%= model_class.human_attribute_name(:recurrency_id) %></th>
      <th><%= model_class.human_attribute_name(:status) %></th>
      <th><%= model_class.human_attribute_name(:type_task_id) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= link_to job.name, job_path(job) %></td>
        <td><%= job.description %></td>
        <td><%= job.estimated_date %></td>
        <td><%= job.recurrency.name if job.recurrency %></td>
        <td><%= job.status %></td>
        <td><%= job.type_task.name if job.type_task %></td>
        <td>
           <%= link_to t('.edit', :default =>  "Add Subtask"),
                      new_job_path(:job_id=>job.id, :type_task=>job.type_task_id, :recurrency=>job.recurrency_id),
                       :class => 'btn btn-mini' %>
         
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_job_path(job), :class => 'btn btn-mini' %>

          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      job_path(job),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</ul>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_job_path,
            :class => 'btn btn-primary' %>
