<h1>Listing type_tasks</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @type_tasks.each do |type_task| %>
  <tr>
    <td><%= type_task.name %></td>
    <td><%= link_to 'Show', type_task %></td>
    <td><%= link_to 'Edit', edit_type_task_path(type_task) %></td>
    <td><%= link_to 'Destroy', type_task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Type task', new_type_task_path %>
